@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400&family=Work+Sans:wght@400&display=swap');

html:root {
	--body-bg-color: #FFFFFF;
	--font: 'Work Sans', sans-serif;
	--rounded: 5px;
	--nav-bg: #3B82F6;
	--main-border-color: transparent;
	--folder-color: #FCD34D;
	--plus-color: #2563EB;
	--tree-line-color: #212121;
	--trash-color: #F11628;
	--text-red: #FF0C12;
	--text-primary: #010101;
	--form-bg-dark: rgba(250, 250, 250, 0.9);
	--form-border: #60A5FA;
	--form-input-bg: rgba(255, 255, 255, 0.9);
	--form-input-color: #1D4ED8;
	--btn-green: #7FFF00;
	--btn-red: #EF4444
}

h1, h2, h3, h4, h5, h6 {margin: 0;}
input:focus, button:focus, textarea:focus {outline: none;}








